{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Sign Out{% endblock %}

{% block inner %}
<h3>Sign Out</h3>

<p>Are you sure you want to sign out? </p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-danger" type="submit">Sign Out</button>
</form>

<div class="mt-4">
  <a href="{% url 'url_summary:home' %}" style="text-decoration: none;">
    <i class="fa-solid fa-arrow-left me-2"></i> Back to Stories
  </a>
</div>
{% endblock %}