{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

<h4>{% translate "Password Reset" %}</h4>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>
  {% translate "Forgotten your password? Enter your email address below, and we will send you password reset link." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="{% translate 'Reset my password' %}" />
</form>

<div class="mt-4">
  <a href="{% url 'account_login' %}" style="text-decoration: none;">
    <i class="fa-solid fa-arrow-left me-2"></i> Back to Login
  </a>
</div>
{% endblock %}
