{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Signup{% endblock %}

{% block inner %}
<h4 class="mb-3">Sign up</h4>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary mt-3 px-4" type="submit">Sign Up</button>
</form>

<p class="mt-5">Already have an account?
  <a href="{{ login_url }}">Sign in</a>
</p>

{% endblock %}