<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    {% block extra_head %} {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <main class="flex-shrink-0">
        <div class="container">
            <header class="d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    <span class="fs-4 ms-3">Skimmit</span>
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item me-4">
                        <span id="theme-switch" style="cursor: pointer;">
                            <i class="bi bi-brightness-high-fill"></i></span>
                    </li>
                </ul>
            </header>

            {% block content %}

            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="d-flex justify-content-center align-items-center fs-5">
            <span class="text-center fs-6 text-body-secondary">Connect with me</span>
            <span class="ms-3">.</span>
            <a href="https://github.com/balewgize" class="mx-3 text-body-secondary" target="_blank">
                <i class="bi bi-github"></i></a>
            <a href="https://twitter.com/balewgizem" class="mx-3 text-body-secondary" target="_blank">
                <i class="bi bi-twitter-x"></i></a>
            <a href="https://www.linkedin.com/in/balewgize/" class="mx-3 text-body-secondary" target="_blank">
                <i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container text-center small mt-2">
            <span class="text-body-secondary">Copyright © 2023 all right reserved.</span>
        </div>
    </footer>

    <script>
        function onSubmit() {
            // Show the spinner and hide the welcome message while getting summary
            document.querySelector(".spinner").classList.remove("d-none");
            document.querySelector(".welcome").classList.add("d-none");
        }

        // Get theme preference from local storage
        const themeSwitch = document.querySelector('#theme-switch');
        const html = document.querySelector("html");
        const themePreference = localStorage.getItem('theme');

        if (themePreference) {
            html.setAttribute("data-bs-theme", themePreference);
        } else {
            html.setAttribute("data-bs-theme", "dark");
        }

        // Add event listener to theme switch button
        themeSwitch.addEventListener('click', () => {
            const currentTheme = html.getAttribute("data-bs-theme")
            let newTheme;

            newTheme = currentTheme === 'light' ? 'dark' : 'light';

            html.setAttribute("data-bs-theme", newTheme);
            localStorage.setItem('theme', newTheme);
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>