{% extends "base.html" %}

{% block title %}Profile - Saved summary{% endblock %}

{% block content %}
<div class="col-lg-6 mx-auto">
    <h4 class="my-4">My summary</h4>
    {% for bookmark in bookmarks %}
    <div class="border-bottom my-4 py-3">
        <h6><a href="{% url 'users:summary_detail' bookmark.id %}" class="text-decoration-none">
                {{ bookmark.title }}</a></h6>
        <p class="">{{ bookmark.summary|truncatechars:150 }}</p>
        <div class="d-flex justify-content-between small">
            <div>
                <span class="text-muted">{{ bookmark.created_at|date:"M m, Y" }}</span>
                <span class="mx-2">.</span>
                <span class="text-muted">7 min read</span>
            </div>
            <span class="mx-2 text-muted bookmark" data-id="{{ bookmark.id }}" data-action="unsave"
                style="cursor: pointer;"><i class="bi bi-bookmark-fill"></i></span>
        </div>
    </div>
    {% empty %}
    <p class="text-muted">No saved summary. Click the bookmark icon to save.</p>
    {% endfor %}
</div>
{% endblock %}

{% block domready %}
{% include "url_summary/domready.html" %}
{% endblock %}