<!-- JS code to handle bookmark via AJAX -->

const url = '{% url "url_summary:bookmark" %}';

var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin',
}

document.querySelector('.bookmark')
    .addEventListener('click', function(e){
    e.preventDefault();
    var bookmarkButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', bookmarkButton.dataset.id);
    formData.append('action', bookmarkButton.dataset.action);

    options['body'] = formData;
    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok') {
            var previousAction = bookmarkButton.dataset.action;
            // toggle button icon and data-action
            var action = previousAction === 'save' ? 'unsave' : 'save';
            bookmarkButton.dataset.action = action;
            if (action === 'save') {
                bookmarkButton.innerHTML = '<i class="bi bi-bookmark"></i>';
            } else {
                bookmarkButton.innerHTML = '<i class="bi bi-bookmark-fill"></i>';
            }
        }
    })
});
